{{#each this}}
  <li id={{id}} class='gallery-library__card'>
    <img
      class='gallery-library__img'
      src={{getPosterUrl poster_path}}
      alt={{title}}
    />
    <div class='gallery-library__info-wrap'>
      <p class='gallery-library__name'>{{title}}</p>
      <div class='gallery-library__info'>
        <span class='gallery-library__genre'>{{genre_ids}}
            |
            {{getYear release_date}}</span>
        <span class='gallery-library__rating'>{{vote_average}}</span>
      </div>
    </div>
  </li>
{{/each}}